
<h2>   <%= @ad.title %> </h2>

<p>
	<b> Watch the ad </b> </br>
	<%= @res.html.html_safe %>
</p>

<p>
  <b>Owner:</b>
	<%= @ad.user.name %>
</p>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>


<p>
  <b>Goal: </b> <%= number_to_currency(@ad.goal) %> <br />
  <b>Amount Raised: </b><%= number_to_currency(@raised) %> 
</p>

<!--
<p>
  <b>Contributions:</b> 
  <% @ad_contributions.each do |a| %>
	<ul>
	<li> <%= a.user.name %>, <%= number_to_currency(a.amount) %></li>
  </ul>		
  <% end %>
</p>
-->

<h3> Contribute </h3>
<%= #render :partial => '/contributions/form', :locals=> {:contribution => Contribution.new, :ad_id => @ad.id} %>
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="G2DYX8A3NX57G">
<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p>
<% if can? :update, @ad %>
	<%= link_to 'Edit', edit_ad_path(@ad) %> |
	<%= link_to 'Destroy', @ad, confirm: 'Are you sure?', method: :delete %> |
<% end %>
<%= link_to 'Back', ads_path %>
</p>