
<h2> <%= current_user.name %> </h2>

<p>
	<b> Ads that you Own </b>
	<ul>
		<% @owned_ads.each do |a| %>   	
			<li> <b> <%= a.title %></b>: <%= number_to_currency(a.goal) %> </li>
		<% end %>
	</ul>
</p>


<p>
	<b> Contributions: </b>
	<ul>
		<% @your_contributions.each do |title,amount| %>   
			<li> <b><%= title %></b>: <%=number_to_currency(amount) %></li>
		<% end %>
	</ul>
</p>


